body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-bebas-neue: "Bebas Neue";
    --font-bradley-hand-itc: "Bradley Hand ITC";
    --font-caveat: Caveat;
  
    /* font sizes */
    --font-size-11xl: 30px;
    --font-size-lg-5: 18.5px;
    --font-size-50xl-1: 69.1px;
    --font-size-xl: 20px;
    --font-size-sm-1: 13.1px;
    --font-size-3xl-4: 22.4px;
    --font-size-mini: 15px;
    --font-size-13xl: 32px;
    --font-size-6xl: 25px;
    --font-size-base-3: 15.3px;
    --font-size-6xs: 7px;
    --font-size-xs: 12px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-blueviolet: #b336ff;
    --color-gray-100: #040404;
  
    /* Paddings */
    --padding-6xs: 7px;
    --padding-16xl: 35px;
  
    /* Border radiuses */
    --br-11xl: 30px;
    --br-xl: 20px;
  }
  